<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ep-wild-lake-a5scrazo.us-east-2.aws.neon.tech/neondb?sslmode=require</property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">BKx0kHXUJY4V</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.github.dheerajhegde.hibernate.CustomerDemographics"/>
        <mapping class="com.github.dheerajhegde.hibernate.Customer"/>
        <mapping class="com.github.dheerajhegde.hibernate.Employee"/>
        <mapping class="com.github.dheerajhegde.hibernate.RegionEntity"/>
        <mapping class="com.github.dheerajhegde.hibernate.Shipper"/>
        <mapping class="com.github.dheerajhegde.hibernate.Supplier"/>
        <mapping class="com.github.dheerajhegde.hibernate.UsState"/>
        <mapping class="com.github.dheerajhegde.hibernate.CustomerCustomerDemo"/>
        <mapping class="com.github.dheerajhegde.hibernate.Order"/>
        <mapping class="com.github.dheerajhegde.hibernate.Product"/>
        <mapping class="com.github.dheerajhegde.hibernate.Territory"/>
        <mapping class="com.github.dheerajhegde.hibernate.EmployeeTerritory"/>
        <mapping class="com.github.dheerajhegde.hibernate.OrderDetail"/>
        <mapping class="com.github.dheerajhegde.hibernate.Category"/>
    </session-factory>
</hibernate-configuration>
